@font-face {
  font-family: "Metr Bd";
  src: url(../src/assets/fonts/Metropolis-Bold.woff2),
    url(../src/assets/fonts/Metropolis-Bold.woff);
}

@font-face {
  font-family: "Metr Rg";
  src: url(../src/assets/fonts/Metropolis-Regular.woff2),
    url(../src/assets/fonts/Metropolis-Regular.woff);
}

.wrapper {
  max-width: 1440px;
  margin-left: 160px;
}

.container {
  max-width: 1127px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}

.container__block {
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
  justify-content: center;
}
@media (max-width: 1200px) {
  .container__block{
    justify-content: center;
    flex-wrap: wrap;
  }
}
.header {
  text-align: center;
  height: 160px;
  align-items: center;
  margin-left: 160px;
}

.header__title {
  margin-top: 75px;
}

.header__text {
  font-family: "Metr Bd";
  font-weight: bold;
  font-size: 37px;
}

.header__par {
  margin-top: 25px;
}

.header__paragraph {
  max-width: 950px;
  font-family: "Metr Rg";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #7d7d7d;
}
